/*Global styles*/
html {
    background: radial-gradient(circle, rgb(242 199 238) 50%, rgba(148, 187, 233, 1) 100%);
    margin-bottom: 10px;
}

body {
    color: #434343;
    font-size: 16px;
    font-family: roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: cornflowerblue;
}

ul {
    list-style-type: unset;
}

/*Button styles*/
a.contact-button,
a.form-button {
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
}

.contact-button {
    background-color: cornflowerblue;
    color: white;
    float: right;
    margin-top: -190px;
    margin-right: 70px;
    width: 14%;
    height: 6%;
    border-color: white;
    font-weight: bold;
}

.contact-button:hover {
    background-color: rgb(190 181 218);
}

.contact-button .svg-inline--fa,
a.btn .svg-inline--fa {
    margin-right: 10px;
    position: relative;
    top: 1px;
}

.form-button {
    background-color: cornflowerblue;
    color: white;
    border-color: white;
    font-weight: bold;
}

.form-button:hover {
    background-color: rgb(190 181 218);
}

/*Content syles*/
.more-about img {
    width: 100%;
    height: 60%;
}


.more-about summary {
    list-style: none;
    color: blue;
}

.more-about summary:hover {
    border: 1px solid violet;
    background: lightpink;
    width: fit-content;
}

div.left-block:hover,
div.right-block:hover {
    box-shadow: 10px 10px 10px grey;
}

#wrapper-content {
    margin: 15px;
}

#wrapper-content div {
    border-radius: 10px;
}


.header {
    background-color: white;
    max-width: 100%;
    background-position: right 57%;
}


.my-image {
    border-radius: 50%;
    width: 20%;
    margin: 15px;
    float: left;
}

.header-profile {
    width: 40%;
    display: inline;
}

.header-profile h1 {
    padding: 8%;
}


.about-me {
    width: 65%;
    float: left;
    background-color: white;
    padding: 20px;
}

.location {
    width: 25%;
    float: right;
    background-color: white;
    padding: 20px;
}

.left-block {
    width: 65%;
    float: left;
    background-color: white;
    padding: 20px;
    margin-top: 15px;
}

.right-block {
    width: 25%;
    float: right;
    background-color: white;
    padding: 20px;
    margin: 15px;
}

table tr td:first-child {
    font-weight: bold;
}

/*Icons*/

.fa-google {
    background: #dd4b39;
    color: white;
    height: 29px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #183153;
    color: white;
}

.social-list-inline {
    text-align: center;
    display: table-cell;
    padding-left: ;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-20 {
    width: 1.25em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}


/*Timeline style starts here*/

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: blue;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: 40px;
    background-color: white;
    border: 4px solid pink;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: -25px;
}

.right {
    left: 50%;
    width: 40%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/*Timeline style ends here*/